body{
    background-image: url("../Data/background12.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.dropdown-toggle{
    text-decoration: none;
    margin-bottom: 20px;
}
/*------------------ Account NAVBAR ----------------*/

.nav-link{
    color: gray !important;
    padding: 10px;
}
.nav-link:hover{
    color: black !important;
}

/*------------------ Services NAVBAR ----------------*/
#services{
    background-color: rgba(128, 128, 128, 0.589);
}
.dropdown-toggle{
    color: gray !important;
}
.servicesDD-item{
    text-align: center;
}
#services a{
    color:black !important;
    margin: 20px 10px 20px 10px;
    text-decoration: none;
}
#services a:first-child{
    margin-left: 20px;
}
#services a:last-child{
    margin-right: 0px;
}
#services button{
    border-radius: 10px;
}
#servicerow{
    padding: 10px;
}
#services a:hover{
    color: white !important;
}
.servicesDD{
    padding-top: 10px;
}
.servicesDD-item a{
    color: white !important;
}
.servicesDD-item a:hover{
    color:white !important
}

/*------------------ RECOMS ----------------*/
#recoms a{
    color:steelblue !important;
    margin: 20px 10px 20px 10px;
    text-decoration: none;
    padding: 10px;
}
#recomsRow{
    margin-top: 10px;
    border-bottom: 1px solid gray;
}
.recomDD{
    padding-top: 20px;
}
.recomDD-item{
    text-align: center;
}
.recomDD-item a{
    color: white !important;
}
.recomDD-item a:hover{
    color: white !important;
}

/*------------------ CONTENT ----------------*/
#content{
    background-color: white;
    margin: 10px 20px 0px 20px;
}
#contentList{
    background-color: rgba(5, 4, 4, 0.753);
    padding: 40px 20px 10px 30px;
    margin-bottom: 10px;
    font-size: 15px;
    position: relative;
}
#contentList h3, h5, p, a{
    color: rgb(255, 255, 255);
}  
#contentList::after{
    position: absolute;
    inset: 10px;
    border:1px solid gray;
    content: "";
}
#contentList h5{
    padding-bottom: 5px;
    font-size: 15px;
    border-bottom: solid gray;
    border-bottom-width: thin;
}

/*------------------ PROMOTIONS ----------------*/
#promo{
    margin: 0px 20px 10px 20px;
    background-color: white;
    border: 10px solid rgb(39, 39, 39);
}
#promoCol h5{
    color: black;
    font-weight:normal !important;
}
#promoCol p{
    color: gray;
    font-size: 14px;
}


/*------------------ FOOTER ----------------*/
#footer a{
    padding-right: 20px;
}
#footer a, #footer p{
    font-weight: lighter;
    font-size: 14px;
}

/*------------------ MEDIA QUERY --------------*/

@media only screen and (max-width:600px){
    .servicesDD{
        display: initial;
    }
    #services{
        display: none;
    }
    .recomDD{
        display: initial;
    }
    #recoms{
        display:none;
    }
    .recipe{
        width:100%;
        padding-bottom: 10px;
    }
    #promoCol{
        width: 100%;
        display: flex !important;
        justify-content: flex-end;
    }
    #promoCol img {
        height: 300px;
        padding-top: 20px;
    }
    #promoCol a{
        color:steelblue;
        float: right;
        padding-right: 10px;
    }
    #promoCol h5{
        font-size: 17px;
    }
    .img3{
        width: 100%;
    }
    .lastCard p{
        padding-right: 120px;
    }
    .lastCard h5{
        padding-right: 130px;
    }
}

@media only screen and (min-width:600px){
    .servicesDD{
        display: initial;
    }
    #services{
        display: none;
    }
    .recomDD{
        display: initial;
    }
    #recoms{
        display:none;
    }
    .recipe{
        width: 100%;
        padding-bottom: 10px;
    }
    #contentList{
        padding-right: 30px;
    }
    #promoCol{
        width: 100%;
    }
    #promoCol img {
        height: 300px;
    }
    .lastCard img{
        width: 100% !important;
    }
    #promoCol a{
        color:steelblue;
        float: right;
        padding-right: 10px;
    }
    #promoCol h5{
        font-size: 17px;
    }
    .lastCard p{
        padding-right: 120px;
    }
    .lastCard h5{
        padding-right: 130px;
    }
}

@media only screen and (min-width:768px){
    .servicesDD{
        display: initial;
    }
    #services{
        display: none;
    }
    .recomDD{
        display: initial;
    }
    #recoms{
        display:none;
    }
    #contentList{
        padding-top: 20px;
    }
    #contentList h3{
        font-size: 25px;
    }
    #contentList a{
        font-size: 10px !important;
    }
    .recipe{
        height: 100%;
        padding-bottom: 10px;
    }
    #promoCol{
        width: 50%;
        display: flex !important;
        justify-content: flex-end;
        align-items: flex-end;
    }
    #promoCol :first-child{
        display:flex;
        align-items: flex-start;
    }
    #promoCol img {
        width: 100%;
        padding-top: 30px;
    }
    .lastCard img{
        width: 70% !important;
    }
    #promoCol a{
        color:steelblue;
        float: right;
        padding-right: 10px;
    }
    #promoCol h5{
        font-size: 17px;
    }
    .lastCard p{
        padding-right: 120px;
    }
    .lastCard h5{
        padding-right: 130px;
    }
}

@media only screen and (min-width:992px){
    .navbar-nav{
        margin-left: 30vh;
    }
    .servicesDD{
        display: none;
    }
    #services{
        display:inherit;
    }
    .recomDD{
        display: none;
    }
    #recoms{
        display:inherit;
    }
    #contentList{
        padding-top: 20px;
    }
    #contentList h3{
        font-size: 25px;
    }
    #contentList a{
        font-size: 10px !important;
    }
    #contentList h5:first-child{
        padding-top: 10px; 
    }
    .recipe{
        width: 100%;
        padding-bottom: 10px;
    }
    #promoCol{
        width: 33%;
        display: flex !important;
        justify-content: flex-end;
        align-items: flex-end;
    }
    #promoCol :first-child{
        display:flex;
        align-items: flex-start;
    }
    #promoCol img {
        width: 100%;
        padding-top: 30px;
    }
    .lastCard img{
        width: 70% !important;
    }
    #promoCol a{
        color:steelblue;
        float: right;
        padding-right: 10px;
    }
    #promoCol h5{
        font-size: 17px;
    }
    .lastCard p{
        padding-right: 120px;
    }
    .lastCard h5{
        padding-right: 130px;
    }
}

@media only screen and (min-width:1200px){
    .navbar-nav{
        margin-left: 60vh;
    }
    .servicesDD{
        display: none;
    }
    .recomDD{
        display: none;
    }
    #services{
        display: inherit;
    }
    #recoms{
        display: inherit;
    }
    #contentList{
        padding-top: 50px;
    }
    #contentList p{
        padding-top: 20px;
    }
    #contentList h5:first-child{
        padding-top: 10px !important; 
    }
    .recipe{
        width: 100%;
        padding-bottom: 10px;
    }
    #promoCol{
        width: 33%;
        display: flex !important;
        justify-content: flex-end;
        align-items: flex-end;
    }
    #promoCol :first-child{
        display:flex;
        align-items: flex-start;
    }
    #promoCol img {
        width: 100%;
        padding-top: 0px;
    }
    .lastCard img{
        width: 70% !important;
    }
    #promoCol a{
        color:steelblue;
        float: right;
        padding-right: 10px;
    }
    .lastCard p{
        padding-right: 140px;
    }
    .lastCard h5{
        padding-right: 160px;
    }
}
